vim/plugged
st-preferences/Color Highlighter
st-preferences/Package Control.cache
st-preferences/SublimeLinter
st-preferences/Package Control.last-run
st-preferences/Package Control.ca-list
st-preferences/Package Control.ca-bundle
st-preferences/Package Control.system-ca-bundle
st-preferences/Package Control.cache/
st-preferences/Package Control.ca-certs/
